#Java Files
*.class

#Packaged Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Gradle
build/
.gradle/
!gradle-wrapper.jar

#Eclipse
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.metadata
.classpath
.project

#Idea
out/
*.iws

#Misc
*.log
hs_err_pid*